.container {
  width: 50%;
  margin: 20px auto;
  background-color: cyan;
}

p {
  text-align: center;
  padding: 5px;
}

h1 {
  text-align: center;
  padding: 5px;
}

.container .btn {
  padding: 10px;
  margin: 10px 4%;
}
